<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended --> <meta charset="utf-8" /> <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="generator" content="11ty" />

    <!-- Icons -->
    <link rel="icon" href="icon.svg">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

    <title>{{ metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQB5CEFH0T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-VQB5CEFH0T');
    </script>
  </head>
  <body class="font-sans leading-relaxed tracking-normal text-slate-800 bg-gradient-to-br from-slate-50 via-white to-slate-100 min-h-screen">
    <div class="min-h-screen">
      {{ content }}
    </div>
  </body>
</html>